<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="form-title">
      <%= form.label 'Titulo', class:'col-sm-2' %>
      <%= form.text_field :title, class: 'col-sm-9 title-form' %>
    </div>
    <div class="form-dates">
      <%= form.label 'Data Inicio' %>
      <%= form.date_field :dt_inicio %>

      <%= form.label 'Data Final' %>
      <%= form.date_field :dt_final %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>

<% end %>
