<section id="projects">
  <div class="projects">
    <span class="title-home">eprojects</span>

    <%= link_to 'New project', new_project_path, class: "btn" %>

    <table class="list-projects col-sm-11">
      <thead>
        <tr class="col-sm-12">
          <th>Nome do Projeto</th>
          <th>Data Inicio</th>
          <th>Data Final</th>
          <th>% Completo</th>
          <th>Atrasado?</th>
          <th class="action" colspan="3">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.dt_inicio.strftime("%d/%m/%Y") %></td>
            <td><%= project.dt_final.strftime("%d/%m/%Y") %></td>
            <td><%= project.complet %></td>
            <td><%= project.status %></td>
            <td><%= link_to 'show', project, class: 'btn' %></td>
            <td><%= link_to 'Edit', edit_project_path(project), class: 'btn' %></td>
            <td><%= link_to 'Delete', project, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
