<section id="show-project">
  <div class="project">
    <span class="title-home">eprojects</span>

    <table class="list-projects col-sm-11">
      <thead>
        <tr class="col-sm-12">
          <th>Nome do Projeto</th>
          <th>Data Inicio</th>
          <th>Data Final</th>
          <th>% Completo</th>
          <th>Atrasado?</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <% if @project.present? %>
          <tr>
            <td><%= @project.title %></td>
            <td><%= @project.dt_inicio.strftime("%d/%m/%Y") %></td>
            <td><%= @project.dt_final.strftime("%d/%m/%Y") %></td>
            <td><%= @project.complet %></td>
            <td><%= @project.status %></td>
            <td><%= link_to 'Edit', edit_project_path(@project), class: 'btn' %></td>
          </tr>
          <tr>
            <td><%= link_to 'Back', projects_path, class: 'btn' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="task-project">
      <span class="title-home">Atividades</span>

      <%= link_to 'Nova tarefa', new_task_path, class: 'btn' %>

      <% @project.tasks%>
        <table class="list-projects col-sm-9">
          <thead>
            <tr class="col-sm-12">
              <th>Nome da Atividade</th>
              <th>Data Inicio</th>
              <th>Data Fim</th>
              <th>Finalizada?</th>
              <th class="action" colspan="2">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @project.tasks.each do |task| %>
              <tr>
                <td><%= task.title%></td>
                <td><%= task.dt_inicio.strftime("%d/%m/%Y") %></td>
                <td><%= task.dt_final.strftime("%d/%m/%Y") %></td>
                <td><%= task.is_finish?%></td>
                <td><%= link_to 'Edit', edit_task_path(task), class: 'btn' %></td>
                <td><%= link_to 'Destroy', task, class: 'btn', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
</section>
